<p id="notice"><%= notice %></p>

<!-- Feature
  1. 預設顯示 root: u1
  2. Click 某一個 user 要顯示其子代  
  3. 在 root 應該要不能選 parent_id (因為不用)
  4. 如果不是 root，開下線 parent_id 要預設為 current user
-->
<div class="container">

  <div class="row">
    <div class="title">
      <h1>Current User: <%= @user.name %></h1>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Parents</th>
        <th scope="col">Children</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <br>
      <% @users.each do |user| %>
        <tr>
          <td class="user-name" scope="row"><%= link_to user.name, url_for(current_id: user.id) %></td>
          <td class="user-parent">
            <% user.ancestor_ids.each do |parent_id| %>
              <%= link_to parent_id, url_for(current_id: parent_id) %>
            <% end %>
          </td>
          <td class="user-child">
            <% user.child_ids.each do |child_id| %>
              <%= link_to child_id, url_for(current_id: child_id) %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Edit', edit_user_path(user), class:"btn btn-outline-danger" %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="">
    <%= link_to 'New User', new_user_path(user_id: params[:current_id]), type:"button", class:"btn btn-outline-success my-1" %>
    <%= link_to 'Root', users_path, type:"button", class:"btn btn-outline-secondary" %>
  </div>

</div>
