<p id="notice"><%= notice %></p>

<!-- Feature
  1. 預設顯示 root: u1
  2. Click 某一個 user 要顯示其子代  
  3. 在 root 應該要不能選 parent_id (因為不用)
  4. 如果不是 root，開下線 parent_id 要預設為 current user
-->
<% if @user %>
  <h1><%= @user.name %></h1>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parents</th>
      <th>Children</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <br>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, url_for(current_id: user.id) %></td>
        <td>
          <% user.ancestor_ids.each do |parent_id| %>
            <%= link_to parent_id, url_for(current_id: parent_id) %>
          <% end %>
        </td>
        <td>
          <% user.child_ids.each do |child_id| %>
            <%= link_to child_id, url_for(current_id: child_id) %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New User', new_user_path(user_id: params[:current_id]) %>

<br>
<%= link_to 'Root', users_path %>