<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @user.parent&.name %>
</p>

<p>
  <strong>Children's ID</strong>
  <%= @user.child_ids %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
